.body {
    background-color: #c0a2a2;;
}

.col {
    display: flex;
    display: grid;
    font-size: larger;
    text-align: fixed;
    text-emphasis-color: red;
}


.container-grid {
    display: grid;
    /* Define 1 coluna que ocupa todo o espaço disponível */
    grid-template-columns: 1fr;
    /* Opcional: Define espaçamento entre os itens */
    gap: 10px;
  }
  
.produtos {
    color: red;
    background-color: white;
}

.item {
    color: blue;
    background-color: white;
}
.info {
    color: green;
    background-color: white;
}

.card-group {
    display: grid ;
    text-align: center;
    height: 100px;
}

.card {
    align-items: center;
    height: 10px;
}
.imagem {
    height: 280px;
}
